@font-face {
    font-family: 'Moon';
    src: url('./../fonts/Moon Light.otf');
}

@font-face {
    font-family: 'Chilanka';
    src: url('./../fonts/Chilanka/Chilanka-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('./../fonts/Raleway/Raleway-Regular.ttf');
}